<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Dossierapp documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	    <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">Dossierapp documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="../index.html">Dossierapp documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../index.html"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a 
                                        
                                         href="../overview.html" 
                                         href="../overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                                <li class="link">
                                  <a href="../index.html" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                    <a href="./changelog.html"
                                        >
                                        <span class="fa fa-file-text-o"></span>CHANGELOG
                                    </a>
                                </li>
                                <li class="link">
                                    <a href="./license.html"
                                        >
                                        <span class="fa fa-file-text-o"></span>LICENSE
                                    </a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../modules.html" >
                            <div class="menu-toggler linked" data-toggle="collapse"
                                    data-target="#xs-modules-links"
                            >
                                <span class="fa fa-archive"></span>
                                <span class="link-name">Modules</span>
                                <span class="fa fa-angle-down"></span>
                            </div>
                        </a>
                        <ul class="links collapse "
                                id="xs-modules-links"
                            >
                                <li class="link">
                                    <a href="../modules/AppModule.html" >AppModule</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-components-links"
                            >
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="../components/AttributesPage.html" >AttributesPage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/EditAttributesPage.html" >EditAttributesPage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ImageViewerPage.html" >ImageViewerPage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/LoginPage.html" >LoginPage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/MyApp.html" >MyApp</a>
                                </li>
                                <li class="link">
                                    <a href="../components/NetworkPage.html" >NetworkPage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/Object2FramesPage.html" >Object2FramesPage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/OfflinePage.html"  data-type="entity-link" class="active" >OfflinePage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/OperationsModal.html" >OperationsModal</a>
                                </li>
                                <li class="link">
                                    <a href="../components/OverviewPage.html" >OverviewPage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/PdfViewerPage.html" >PdfViewerPage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/SettingsPage.html" >SettingsPage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/TaskPage.html" >TaskPage</a>
                                </li>
                                <li class="link">
                                    <a href="../components/VideoViewerPage.html" >VideoViewerPage</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-classes-links"
                            >
                            <span class="fa fa-file-code-o"></span>
                            <span>Classes</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-classes-links"
                            >
                                <li class="link">
                                    <a href="../classes/ConfigMock.html" >ConfigMock</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/FormMock.html" >FormMock</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/MenuMock.html" >MenuMock</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/NavMock.html" >NavMock</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/OverviewPageMock.html" >OverviewPageMock</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/PlatformMock.html" >PlatformMock</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-injectables-links"
                            >
                            <span class="fa fa-long-arrow-down"></span>
                            <span>Injectables</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-injectables-links"
                            >
                                <li class="link">
                                    <a href="../injectables/AuthService.html" >AuthService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/DBService.html" >DBService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/ErrorService.html" >ErrorService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/FileService.html" >FileService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/FingerPrintService.html" >FingerPrintService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/HttpInterceptorService.html" >HttpInterceptorService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/LoadingService.html" >LoadingService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/NativeService.html" >NativeService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/NetworkService.html" >NetworkService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/OfflineService.html" >OfflineService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/OperationService.html" >OperationService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/PermissionService.html" >PermissionService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/PersistenceService.html" >PersistenceService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/PushService.html" >PushService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/RestService.html" >RestService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/SearchService.html" >SearchService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/SearchService.html" >SearchService</a>
                                </li>
                                <li class="link">
                                    <a href="../injectables/TaskService.html" >TaskService</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-interfaces-links"
                            >
                            <span class="fa fa-info"></span>
                            <span>Interfaces</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-interfaces-links"
                            >
                                <li class="link">
                                    <a href="../interfaces/DBAttributes.html" >DBAttributes</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/DBObject.html" >DBObject</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/DBOfflineObject.html" >DBOfflineObject</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/TIEAttributesEdit.html" >TIEAttributesEdit</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/TIEAttributesView.html" >TIEAttributesView</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/TIELink.html" >TIELink</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/TIEObject.html" >TIEObject</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-pipes-links"
                            >
                            <span class="fa fa-plus"></span>
                            <span>Pipes</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-pipes-links"
                            >
                                <li class="link">
                                    <a href="../pipes/ObjectIcon.html" >ObjectIcon</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                    </li>
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                                        <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="../index.html">Dossierapp documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../index.html"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a 
                                               
                                                href="../overview.html" 
                                                href="../overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                                       <li class="link">
                                         <a href="../index.html" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                           <a href="./changelog.html"
                                               >
                                               <span class="fa fa-file-text-o"></span>CHANGELOG
                                           </a>
                                       </li>
                                       <li class="link">
                                           <a href="./license.html"
                                               >
                                               <span class="fa fa-file-text-o"></span>LICENSE
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../modules.html" >
                                   <div class="menu-toggler linked" data-toggle="collapse"
                                           data-target="#modules-links"
                                   >
                                       <span class="fa fa-archive"></span>
                                       <span class="link-name">Modules</span>
                                       <span class="fa fa-angle-down"></span>
                                   </div>
                               </a>
                               <ul class="links collapse "
                                       id="modules-links"
                   >
                                       <li class="link">
                                           <a href="../modules/AppModule.html" >AppModule</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#components-links"
                   >
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="../components/AttributesPage.html" >AttributesPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/EditAttributesPage.html" >EditAttributesPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ImageViewerPage.html" >ImageViewerPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/LoginPage.html" >LoginPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/MyApp.html" >MyApp</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/NetworkPage.html" >NetworkPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/Object2FramesPage.html" >Object2FramesPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/OfflinePage.html"  data-type="entity-link" class="active" >OfflinePage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/OperationsModal.html" >OperationsModal</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/OverviewPage.html" >OverviewPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/PdfViewerPage.html" >PdfViewerPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/SettingsPage.html" >SettingsPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/TaskPage.html" >TaskPage</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/VideoViewerPage.html" >VideoViewerPage</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#classes-links"
                   >
                                   <span class="fa fa-file-code-o"></span>
                                   <span>Classes</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="classes-links"
                   >
                                       <li class="link">
                                           <a href="../classes/ConfigMock.html" >ConfigMock</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/FormMock.html" >FormMock</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/MenuMock.html" >MenuMock</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/NavMock.html" >NavMock</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/OverviewPageMock.html" >OverviewPageMock</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/PlatformMock.html" >PlatformMock</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#injectables-links"
                   >
                                   <span class="fa fa-long-arrow-down"></span>
                                   <span>Injectables</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="injectables-links"
                   >
                                       <li class="link">
                                           <a href="../injectables/AuthService.html" >AuthService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/DBService.html" >DBService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/ErrorService.html" >ErrorService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/FileService.html" >FileService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/FingerPrintService.html" >FingerPrintService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/HttpInterceptorService.html" >HttpInterceptorService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/LoadingService.html" >LoadingService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/NativeService.html" >NativeService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/NetworkService.html" >NetworkService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/OfflineService.html" >OfflineService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/OperationService.html" >OperationService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/PermissionService.html" >PermissionService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/PersistenceService.html" >PersistenceService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/PushService.html" >PushService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/RestService.html" >RestService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/SearchService.html" >SearchService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/SearchService.html" >SearchService</a>
                                       </li>
                                       <li class="link">
                                           <a href="../injectables/TaskService.html" >TaskService</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#interfaces-links"
                   >
                                   <span class="fa fa-info"></span>
                                   <span>Interfaces</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="interfaces-links"
                   >
                                       <li class="link">
                                           <a href="../interfaces/DBAttributes.html" >DBAttributes</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/DBObject.html" >DBObject</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/DBOfflineObject.html" >DBOfflineObject</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/TIEAttributesEdit.html" >TIEAttributesEdit</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/TIEAttributesView.html" >TIEAttributesView</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/TIELink.html" >TIELink</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/TIEObject.html" >TIEObject</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#pipes-links"
                   >
                                   <span class="fa fa-plus"></span>
                                   <span>Pipes</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="pipes-links"
                   >
                                       <li class="link">
                                           <a href="../pipes/ObjectIcon.html" >ObjectIcon</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                           </li>
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                                               <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>OfflinePage</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#info" id="info-tab" role="tab" data-toggle="tab" data-link="info">Info</a>
    </li>

    <li>
        <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
    </li>

    <li>
        <a href="#templateData" role="tab" id="templateData-tab" data-toggle="tab" data-link="template">Template</a>
    </li>
    <li>
        <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/pages/offline/offline.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ib-page-settings</code></td>
            </tr>




            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>offline.html</code></td>
            </tr>


        </tbody>
    </table>
</section>



    <section>
        <h3 id="constructor">Constructor</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <code>constructor(offline: <a href="../injectables/OfflineService.html">OfflineService</a>, modalCtrl: ModalController, persistence: <a href="../injectables/PersistenceService.html">PersistenceService</a>)</code>
                        </td>
                    </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="15" class="link-to-prism">src/pages/offline/offline.ts:15</a></div>
                                </td>
                            </tr>
    
                </tbody>
            </table>
    </section>

    <section>
        
            <h3 id="methods">
                Methods
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> ionViewWillEnter</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>ionViewWillEnter()</code>
                        </td>
                    </tr>
    
    
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="24" class="link-to-prism">src/pages/offline/offline.ts:24</a></div>
                                </td>
                            </tr>
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> openActionMenu</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>openActionMenu(object: <a href="../interfaces/DBOfflineObject.html">DBOfflineObject</a>)</code>
                        </td>
                    </tr>
    
    
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="33" class="link-to-prism">src/pages/offline/offline.ts:33</a></div>
                                </td>
                            </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Opens a modal and shows operations on a checked out file in offline mode.</p>
    </div>
    
                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <ul class="jsdoc-params">
                                                <li>
                                                    <div>
                                                        <b>object</b>
                                                    </div>
                                                    <div>
                                                        
                                                    </div>
                                                </li>
                                        </ul>
                                </div>
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                                    <div class="io-description">
                                        
                                    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> refreshOfflineList</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>refreshOfflineList()</code>
                        </td>
                    </tr>
    
    
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="55" class="link-to-prism">src/pages/offline/offline.ts:55</a></div>
                                </td>
                            </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Refresh the list with offline files.</p>
    </div>
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        
            <h3 id="inputs">
                Properties
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> items</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>items:     <code><a href="../interfaces/DBOfflineObject.html" target="_self" >Array&lt;DBOfflineObject&gt;</a></code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code><a href="../interfaces/DBOfflineObject.html" target="_self" >Array&lt;DBOfflineObject&gt;</a></code>
    
                            </td>
                        </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="15" class="link-to-prism">src/pages/offline/offline.ts:15</a></div>
                                </td>
                            </tr>
                </tbody>
            </table>
    </section>
</div>


    <div class="tab-pane fade tab-source-code" id="source">
        <pre class="line-numbers"><code class="language-typescript">import { Component } from &#x27;@angular/core&#x27;;
import { OfflineService } from &#x27;../../services/offline&#x27;;
import { DBOfflineObject } from &#x27;../../app/models/DBObject&#x27;;
import { OperationsModal } from &#x27;../../modals/operations&#x27;;
import { ModalController } from &#x27;ionic-angular&#x27;;
import { PersistenceService } from &#x27;../../services/persistence&#x27;;
import { TIEObject } from &#x27;../../app/models/TIEObject&#x27;;

@Component({
    selector: &#x27;ib-page-settings&#x27;,
    templateUrl: &#x27;offline.html&#x27;,
})
export class OfflinePage {

    items: Array&lt;DBOfflineObject&gt;;

    constructor(private offline: OfflineService,
                private modalCtrl: ModalController,
                private persistence: PersistenceService) {
        console.log(&#x27;Enter: OfflinePage&#x27;);
        this.items &#x3D; [];
    }

    ionViewWillEnter() {
        this.refreshOfflineList();
    }

    /**
     * Opens a modal and shows operations on a checked out file in offline mode.
     *
     * @param object
     */
    openActionMenu(object: DBOfflineObject): void {
        console.log(&#x27;entering openActionmenu offline/offline&#x27;, object);
        let obj: TIEObject &#x3D; JSON.parse(object.data);
        let tempCheckin &#x3D; obj.links.find(it &#x3D;&gt; it.rel &#x3D;&#x3D;&#x3D; &#x27;CHECKIN&#x27;);
        object.attributes &#x3D; { objName: obj.attributes.objName };
        object.links &#x3D; [];
        object.links.push({rel: &#x27;VIEW&#x27;, href: object.localpath});
        if (tempCheckin) {
            object.links.push({rel: &#x27;CHECKIN&#x27;, href: tempCheckin.href});
        } else {
            object.links.push({rel: &#x27;DELETE_OFFLINE_COPY&#x27;, href: object.offlineId.toString()});
        }
        let modal &#x3D; this.modalCtrl.create(OperationsModal, object);
        modal.onWillDismiss((item) &#x3D;&gt; {
            if ((item.rel &#x3D;&#x3D;&#x3D; &#x27;CHECKIN&#x27; || item.rel &#x3D;&#x3D;&#x3D; &#x27;DELETE_OFFLINE_COPY&#x27;) &amp;&amp;
                item.payload) this.items.splice(this.items.indexOf(item), 1);
        });
        modal.present();
    }
    /**
     * Refresh the list with offline files.
     */
    refreshOfflineList() {
        this.offline.getOfflineFiles()
            .then(result &#x3D;&gt; {
                console.log(&#x27;result of db read&#x27;, result);
                if (result) this.items &#x3D; (Array.isArray(result)) ? result : [result];
            });
    }
}
</code></pre>
    </div>

    <div class="tab-pane fade" id="templateData">
        <pre class="line-numbers"><code class="language-html">&lt;ion-header&gt;
    &lt;ion-navbar&gt;
        &lt;button ion-button menuToggle&gt;
            &lt;ion-icon name&#x3D;&quot;menu&quot;&gt;&lt;/ion-icon&gt;
        &lt;/button&gt;
        &lt;ion-title&gt;&lt;p&gt;{{ &#x27;OFFLINE.TITLE&#x27; | translate }}&lt;/p&gt;&lt;/ion-title&gt;
    &lt;/ion-navbar&gt;
&lt;/ion-header&gt;

&lt;ion-content&gt;
    &lt;ion-item *ngFor&#x3D;&quot;let item of items&quot;&gt;
        &lt;a ion-item
           (press)&#x3D;&quot;openActionMenu(item)&quot;&gt;
            &lt;h2&gt;{{item.localpath}}&lt;/h2&gt;
            &lt;h2&gt;{{item.offlineId}}&lt;/h2&gt;
            &lt;p&gt;{{item.owner}}&lt;/p&gt;
            &lt;p&gt;{{item.localpath.split(&#x27;/&#x27;).pop()}}&lt;/p&gt;
        &lt;/a&gt;
    &lt;/ion-item&gt;
    &lt;ion-item *ngIf&#x3D;&quot;items.length &#x3D;&#x3D; 0&quot; text-center text&gt;
        {{ &#x27;OFFLINE.NO_FILES&#x27; | translate }}
    &lt;/ion-item&gt;
&lt;/ion-content&gt;</code></pre>
    </div>

    <div class="tab-pane fade" id="tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><ion-header>    <ion-navbar>        <button ion-button menuToggle>            <ion-icon name="menu"></ion-icon>        </button>        <ion-title><p>{{ \'OFFLINE.TITLE\' | translate }}</p></ion-title>    </ion-navbar></ion-header><ion-content>    <ion-item *ngFor="let item of items">        <a ion-item           (press)="openActionMenu(item)">            <h2>{{item.localpath}}</h2>            <h2>{{item.offlineId}}</h2>            <p>{{item.owner}}</p>            <p>{{item.localpath.split(\'/\').pop()}}</p>        </a>    </ion-item>    <ion-item *ngIf="items.length == 0" text-center text>        {{ \'OFFLINE.NO_FILES\' | translate }}    </ion-item></ion-content></div>'
    var COMPONENTS = [{'name': 'AttributesPage', 'selector': ''},{'name': 'EditAttributesPage', 'selector': ''},{'name': 'ImageViewerPage', 'selector': ''},{'name': 'LoginPage', 'selector': 'ib-page-login'},{'name': 'MyApp', 'selector': ''},{'name': 'NetworkPage', 'selector': ''},{'name': 'Object2FramesPage', 'selector': ''},{'name': 'OfflinePage', 'selector': 'ib-page-settings'},{'name': 'OperationsModal', 'selector': ''},{'name': 'OverviewPage', 'selector': 'ib-page-overview'},{'name': 'PdfViewerPage', 'selector': ''},{'name': 'SettingsPage', 'selector': 'ib-page-settings'},{'name': 'TaskPage', 'selector': 'ib-page-overview'},{'name': 'VideoViewerPage', 'selector': ''}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'OfflinePage'};
</script>
<script src="../js/tree.js"></script>









                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script>var COMPODOC_CURRENT_PAGE_DEPTH = 1;</script>

       <script src="../js/search/search.js"></script>
       <script src="../js/search/lunr.min.js"></script>
       <script src="../js/search/search-lunr.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
       <script src="../js/search/search_index.js"></script>

    </body>
</html>
